@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$font-primary: "Montserrat", sans-serif;

.font-size-2 {
  font-size: 1.2rem;
}

.font-size-1-5 {
  font-size: 1.5rem;
}

.font-size-3 {
  font-size: 3rem;
}

.font-size-small {
  font-size: 0.8rem;
}

.font-weight {
  &__800 {
    font-weight: 800 !important;
  }
}
