<mat-card class="mat-elevation-z4 h-100 p-2 mx-auto mt-2">
  <mat-card-content class="py-2">
    <div class="mx-4 justify-items-space-around" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx">
      <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="gappx">
        <ngx-avatar class="m-2" [name]="user.firstName + ' ' + user.lastName"></ngx-avatar>
      </div>
      <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="gappx">
        <div class="justify-items-space-between" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx">
          <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="gappx">
            <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx">
              <p class="font-weight__800 font-size-1 mr-2">{{user?.firstName}} {{user?.lastName}}</p>
              <p class="font-weight__800 color-primary font-size-small">@{{user?.username}}</p>
            </div>
          </div>
        </div>
        <p class="font-size-2 m-0 mt-2">{{tweet?.text}}</p>
      </div>
      <div fxLayout="column" fxLayoutAlign="end end" fxLayoutGap="gappx">
        <p class="font-weight__800 font-size-small text-gray-400 ml-2">- {{timeAgo}}</p>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="mx-4 justify-items-space-around" fxLayout="row" fxLayoutAlign="end end" fxLayoutGap="gappx">
      <button (click)="isReplyClicked = !isReplyClicked" color="primary" mat-icon-button>
        <mat-icon>reply</mat-icon>
      </button>
      <p class="font-weight-bold vertical-align-middle padding-bottom-3 color-primary mb-1">
        {{tweet.replies != null ? tweet.replies.length : 0}} replies
      </p>
      <button (click)="likeTweet()" color="primary" *ngIf="!tweet.userLikes?.includes(userService.loggedInUserId)"
        mat-icon-button>
        <mat-icon>favorite_border</mat-icon>
      </button>
      <button (click)="likeTweet()" color="primary" *ngIf="tweet.userLikes?.includes(userService.loggedInUserId)"
        mat-icon-button>
        <mat-icon>favorite</mat-icon>
      </button>
      <p class="font-weight-bold vertical-align-middle padding-bottom-3 color-primary mb-1">
        {{tweet.userLikes != null ? tweet.userLikes.length : 0}} likes
      </p>
      <button color="primary" [matMenuTriggerFor]="menu" *ngIf="tweet.userId == userService.loggedInUserId"
        mat-icon-button>
        <mat-icon>more_horiz</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button (click)="deleteTweet()" mat-menu-item>Delete</button>
      </mat-menu>
    </div>

    <ng-container *ngIf="!!tweet.replies && tweet.replies.length > 0">
      <mat-divider></mat-divider>
      <mat-expansion-panel class="mat-elevation-z0 mt-2" (opened)="panelOpenState = true"
        (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <p class="font-weight__800 color-primary font-size-small">
              View all replies
            </p>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-container *ngFor="let reply of tweet.replies">
          <app-tweet [loggedInUser]="loggedInUser" [tweet]="reply"></app-tweet>
        </ng-container>
      </mat-expansion-panel>
    </ng-container>

    <ng-container *ngIf="isReplyClicked">
      <form [formGroup]="tweetForm" (ngSubmit)="replyTweet()">

        <mat-form-field appearance="outline" class="w-100">
          <input rows="3" matInput placeholder="Leave a reply" formControlName="text">
          <button color="primary" type="submit" mat-button *ngIf="tweetForm.get('text').value" matSuffix
            mat-icon-button>
            <mat-icon>send</mat-icon>
          </button>
          <mat-error *ngIf="tweetForm.get('text').errors?.required">Tweet cannot be empty</mat-error>
          <mat-error *ngIf="tweetForm.get('text').errors?.maxlength">Tweet can be only upto 144
            charachters</mat-error>

        </mat-form-field>

      </form>
    </ng-container>


  </mat-card-content>
</mat-card>